<!-- <div class="row"> -->
<!-- 	<div class="col-lg-12"> -->
<!-- 		<h3 class="page-header"> -->
<!-- 			<i class="fa fa-users"></i> <strong>Administração de Usuários do Sistema</strong> -->
<!-- 		</h3> -->
<!-- 		<ol class="breadcrumb"> -->
<!-- 			<li><i class="fa fa-home"></i><a href="#/ZGFzaGJvYXJk">Home</a></li> -->
<!-- 			<li><i class="icon_tools"></i>Configurações</li> -->
<!-- 			<li><i class="fa fa-users"></i>Usuários</li> -->
<!-- 		</ol> -->
<!-- 	</div> -->
<!-- </div> -->

<div class="row">
    <div class="col-lg-12">
	    <h3 class="page-header">
	        <i class="fa fa-users"></i> <strong>Administração de Usuários do Sistema</strong>
	    </h3>
	
	    <header class="panel-heading tab-bg-info">
	        <ul class="nav nav-tabs">
	            <li class="active">
	                <a data-toggle="tab" href="cadastro" ng-click="view('cadastro')">
	                   <i class="fa fa-user"></i>&nbsp;Cadastrar
	                </a>
	            </li>
	            <li class="">
	                <a data-toggle="tab" href="consulta" ng-click="view('consulta')">
	                   <i class="fa fa-search"></i>&nbsp;Consultar
	                </a>
	            </li>
	            <li class="">
	                   <a data-toggle="tab" href="administracaoPerfil" ng-click="view('administracaoPerfil')">
	                       <i class="fa fa-tasks"></i>&nbsp;Administrar Perfis
	                   </a>
	               </li>
	        </ul>
	    </header>
	    <div class="panel-body">
	        <div class="tab-content">
	            <div id="cadastro" class="tab-pane active" ng-if="viewObj.isCadastro">
	               <div cadastro-usuario></div>
	            </div>
	            <div id="consulta" class="tab-pane active" ng-if="viewObj.isConsulta">
	               <br/>
	               <div consulta-usuario></div>
	            </div>
	            <div id="administracaoPerfil" class="tab-pane active" ng-if="viewObj.isAdministracaoPerfil">
	               <br/>
	               Administração perfil
	            </div>
	        </div>
	    </div>
    </div>
</div>