<div class="row">
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading"> Cadastro de Usuários </header>
            <div class="panel-body">            
                <form name="cadastroUsuarioForm" role="form" class="form-validate form-horizontal" ng-submit="salvar()">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="nome"><strong>Nome<span class="required">*</span></strong></label>
                        <div class="col-sm-10">
                            <input id="nome"
                                   type="text"
                                   class="form-control"
                                   placeholder="Digite o nome do usuário"
                                   ng-model="dto.nome"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="email"><strong>E-mail<span class="required">*</span></strong></label>
                        <div class="col-sm-10">
                            <input id="email"
                                   type="text"
                                   class="form-control"
                                   placeholder="Digite o email do usuário"
                                   ng-model="dto.email"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="login"><strong>Login<span class="required">*</span></strong></label>
                        <div class="col-sm-10">
                            <input id="login"
                                   type="text"
                                   class="form-control"
                                   placeholder="Digite o login do usuário"
                                   ng-model="dto.login"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="login"><strong>Senha<span class="required">*</span></strong></label>
                        <div class="col-sm-10">
                            <input id="senha"
                                   type="password"
                                   class="form-control"
                                   placeholder="Digite a senha do usuário"
                                   ng-model="dto.senha"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="perfil"><strong>Perfil<span class="required">*</span></strong></label>
                        <div class="col-sm-10">
                            <select id="perfil" ng-model="dto.perfil" ng-options="perfil.nome for perfil in listaPerfis" class="form-control" required>
                                <option value="" ng-disabled>Selecione o perfil</option>
                            </select>
                        </div>                      
                    </div>
                    <div class="form-group center pull-right">                      
                        <div class="col-sm-12">                      
                            <button class="btn btn-primary" 
                                    type="submit"
                                    ng-disabled="!cadastroUsuarioForm.$valid"><i class="fa fa-plus-square"></i>&nbsp;Salvar</button>
                            <button class="btn btn-default" 
                                    type="button"
                                    ng-click="limpar()"><i class="fa fa-eraser"></i>&nbsp;Limpar</button>
                            <a href="#/ZGFzaGJvYXJk" class="btn btn-danger" type="button"><i class="fa fa-minus-square"></i>&nbsp;Cancelar</a>
                        </div>                     
                    </div>
                </form>
            </div>
        </section>
    </div>
    
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading"> Acompanhamento dos Usuários Registrados </header>
            <div class="panel-body">
                <div class="col-sm-12">
                     <input id="filtroPesquisa" 
                           type="text" 
                           class="form-control" 
                           placeholder="Digite o cargo que deseja filtrar"
                           ng-model="filtroPesquisa">
                </div>
                <br/><br/>
                <table class="table table-striped table-advance table-hover">
                    <tbody>
                       <tr>
                          <th><i class="fa fa-user"></i> Usuário</th>
                          <th><i class="fa fa-child"></i> Perfil</th>
                          <th><i class="icon_cogs"></i> Ações</th>
                       </tr>
                       <tr ng-repeat="u in listaUsuarios | filter: {nome: filtroPesquisa} | orderBy: '+nome'">
                           <td>{{u.nome | uppercase}}</td>
                           <td>{{u.perfil.nome | uppercase}}</td>
                           <td>
                            <div class="btn-group" ng-if="perfilUsuarioLogado == 'ADMINISTRADOR'">
                                <button class="btn btn-success" ng-click="alterarAtivacao(u)" title="Ativar usuário" ng-if="!u.ativo">
                                    <i class="fa fa-check-square"></i>
                                </button>
                                <button id="btnInativar" class="btn btn-danger" ng-click="alterarAtivacao(u)" title="Desativar usuário" ng-if="u.ativo">
                                    <i class="fa fa-minus-square"></i>
                                </button>
                                <button class="btn btn-primary" title="Ver detalhes do usuários">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </div>
                            <div class="btn-group" ng-if="perfilUsuarioLogado != 'ADMINISTRADOR'">
                            	<button class="btn btn-default" ng-disabled style="cursor: inherit;">
                            		<i class="fa fa-ban fa-2x"></i>
                            	</button>
                            </div>
                            
                           </td>
                       </tr>
                   </tbody>
               </table>
            </div>
        </section>
    </div>  
</div>
        
<modal-info id="modalId" titulo="tituloModal" array="infoArray"></modal-info>
<modal-confirmacao id="modalConfirmacaoId" titulo="tituloModalConfirmacao" conteudo-titulo="conteudoTituloModalConfirmacao" conteudo-corpo="conteudoCorpoModalConfirmacao" func-callback="alterarAtivacaoEffective(dadoUsuario, true)"></modal-confirmacao>