<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">
			<i class="fa fa-building-o"></i> <strong>Cadastro de Empresas</strong>
		</h3>
		<ol class="breadcrumb">
			<li><i class="fa fa-home"></i><a href="#/ZGFzaGJvYXJk">Home</a></li>
			<li><i class="icon_floppy"></i>Cadastros</li>
			<li><i class="fa fa-building-o"></i>Empresas</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<section class="panel">
			<header class="panel-heading"> Cadastro de Empresas </header>
			<div class="panel-body">
			
			<form name="cadastroEmpresaForm" role="form" class="form-validate form-horizontal" ng-submit="salvar()">
                    <div class="form-group">                    
                        <label class="col-sm-2 control-label" for="cnpj"><strong>CNPJ<span class="required">*</span></strong></label>                      
                        <div class="col-sm-10">
                            <input id="cnpj"
                                   type="text"
                                   class="form-control"
                                   placeholder="Digite o CNPJ"
                                   ng-model="dto.cnpj"
                                   mascara-cnpj
                                   required>
                        </div>                      
                    </div>
                    <div class="form-group">                    
                        <label class="col-sm-2 control-label" for="cei"><strong>CEI<span class="required">*</span></strong></label>                      
                        <div class="col-sm-10">
                            <input id="cei"
                                   type="text"
                                   class="form-control"
                                   placeholder="Digite o CEI"
                                   ng-model="dto.cei"
                                   mascara-cei
                                   required>
                        </div>                      
                    </div>
                    <div class="form-group">                    
                        <label class="col-sm-2 control-label" for="nome"><strong>Nome<span class="required">*</span></strong></label>                        
                        <div class="col-sm-10">
                            <input id="nome" 
                                   type="text" 
                                   class="form-control" 
                                   placeholder="Digite o nome"
                                   ng-model="dto.nome"
                                   required>
                        </div>         
                    </div>
                    <div class="form-group">                    
                        <label class="col-sm-2 control-label" for="endereco"><strong>Endereço</strong></label>                        
                        <div class="col-sm-10">
                            <input id="endereco" 
                                   type="text" 
                                   class="form-control" 
                                   placeholder="Digite o endereço"
                                   ng-model="dto.endereco">
                        </div>                      
                    </div>
                    <div class="form-group center pull-right">
                        <div class="col-sm-12">                      
                            <button class="btn btn-primary" 
                                    type="submit"
                                    ng-disabled="!cadastroEmpresaForm.$valid"><i class="fa fa-plus-square"></i>&nbsp;Salvar</button>
                            <button class="btn btn-default" 
                                    type="button"
                                    ng-click="limpar()"><i class="fa fa-eraser"></i>&nbsp;Limpar</button>
                            <a href="#/ZGFzaGJvYXJk" class="btn btn-danger" type="button"><i class="fa fa-minus-square"></i>&nbsp;Cancelar</a>
                        </div>                      
                    </div>
                </form>
			
			</div>
		</section>
	</div>
	
	<div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">Acompanhamento das Empresas Registradas </header>
            <div class="panel-body">
                <div class="col-sm-12">
                     <input id="filtroPesquisa" 
                           type="text" 
                           class="form-control" 
                           placeholder="Digite a empresa que deseja filtrar"
                           ng-model="filtroPesquisa">
                </div>
                <br/><br/>
                <table class="table table-striped table-advance table-hover">
                    <tbody>
                       <tr>
                          <th><i class="fa fa-building-o"></i> Nome</th>
                          <th><i class="icon_id"></i> CNPJ</th>
                          <th><i class="icon_id"></i> CEI</th>
<!--                           <th><i class="icon_cogs"></i> Ações</th> -->
                       </tr>
                       <tr ng-repeat="e in listaEmpresas | filter: {nome: filtroPesquisa} | orderBy:'+nome'" title="{{e.endereco}}" ng-if="e.ativo">
                           <td>{{e.nome | uppercase}}</td>
                           <td>{{e.cnpj | cnpj}}</td>
                           <td>{{e.cei | cei}}</td>
<!--                            <td> -->
<!--                             <div class="btn-group"> -->
<!--                                 <button class="btn btn-danger" ng-click="deletar(e.id)" title="Deletar Empresa"> -->
<!--                                     <i class="icon_close_alt2"></i> -->
<!--                                 </button> -->
<!--                             </div> -->
<!--                            </td> -->
                       </tr>
                   </tbody>
               </table>
            </div>
        </section>
    </div>
</div>