<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header"><i class="icon_currency"></i> Cadastro de Despesas e Outros</h3>
		<ol class="breadcrumb">
			<li><i class="fa fa-home"></i><a href="#/ZGFzaGJvYXJk">Home</a></li>
			<li><i class="icon_floppy"></i>Cadastros</li>
			<li><i class="icon_currency"></i>Despesas e Outros</li>						  	
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h2><strong>Financeiro</strong></h2>
	</div>
</div>