<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">
			<!-- <i class="fa fa-building-o"></i> --> <strong>Outras Despesas</strong>
		</h3>
		<ol class="breadcrumb">
			<li><i class="fa fa-home"></i><a href="#/ZGFzaGJvYXJk">Home</a></li>
			<li><i class="icon_floppy"></i>Cadastros</li>
			<li>Outras Despesas</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<section class="panel">
			<header class="panel-heading"> Outras Despesas </header>
			<div class="panel-body">
			
			<form name="outrasDespesasForm" role="form" class="form-validate form-horizontal" ng-submit="salvar()">
				
				<div class="form-group">                    
                     <label class="col-sm-2 control-label" for="empresa"><strong>Funcionário<span class="required">*</span></strong></label>                      
                     <div class="col-sm-10">   
                      <select id="funcionario" 
                              ng-model="dto.funcionario" 
                              ng-options="funcionario.nome for funcionario in listaFuncionarios"
                              class="form-control"
                              required>
                          <option value="" ng-disabled>Selecione o funcionário</option>
                      </select>		                                              
                     </div>                      
                 </div>
                 <div class="form-group">                    
                      <label class="col-sm-2 control-label" for="nome"><strong>Data<span class="required">*</span></strong></label>                        
                      <div class="col-sm-10">
                          <input id="data" 
                                 type="text" 
                                 class="form-control" 
                                 placeholder="Digite a data da despesa"
                                 ng-model="dto.data"
                                 mascara-data
                                 required>
                      </div>         
                  </div>
                  <div class="form-group">                    
                      <label class="col-sm-2 control-label" for="nome"><strong>Valor (R$)<span class="required">*</span></strong></label>                        
                      <div class="col-sm-10">
                          <input id="valor" 
                                 type="text" 
                                 class="form-control" 
                                 placeholder="Digite o valor da despesa"
                                 ng-model="dto.valor"
                                 mascara-moeda
								 step="0.01"
                                 required>
                      </div>         
                  </div>
                  <div class="form-group">                    
                      <label class="col-sm-2 control-label" for="nome"><strong>Descrição<span class="required">*</span></strong></label>                        
                      <div class="col-sm-10">
                          <input id="descricao" 
                                 type="text" 
                                 class="form-control" 
                                 placeholder="Digite a descrição da despesa"
                                 ng-model="dto.descricao"
                                 required>
                      </div>         
                  </div>
				
				<div class="form-group center pull-right">
                        <div class="col-sm-12">                      
                            <button class="btn btn-primary" 
                                    type="submit"
                                    ng-disabled="!outrasDespesasForm.$valid"><i class="fa fa-plus-square"></i>&nbsp;Salvar</button>
                            <button class="btn btn-default" 
                                    type="button"
                                    ng-click="limpar()"><i class="fa fa-eraser"></i>&nbsp;Limpar</button>
                            <a href="#/ZGFzaGJvYXJk" class="btn btn-danger" type="button"><i class="fa fa-minus-square"></i>&nbsp;Cancelar</a>
                        </div>                      
                    </div>
			</form>
						
			</div>
		</section>		
	</div>
</div>	
