<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header"><i class="icon_building_alt"></i><strong>Cadastro de Locações</strong></h3>
		<ol class="breadcrumb">
			<li><i class="fa fa-home"></i><a href="#/ZGFzaGJvYXJk">Home</a></li>
			<li><i class="icon_floppy"></i>Cadastros</li>
			<li><i class="icon_building_alt"></i>Locações</li>						  	
		</ol>
	</div>
</div>

<div class="row">
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading"> Cadastro de Empresas </header>
            <div class="panel-body">
            
            <form name="cadastroLocacaoForm" role="form" class="form-validate form-horizontal" ng-submit="salvar()">
                    <div class="form-group">                    
                        <label class="col-sm-2 control-label" for="empresa"><strong>Empresa<span class="required">*</span></strong></label>                      
                        <div class="col-sm-10">
                             <div class="input-group">
                                <span class="input-group-addon" style="cursor: pointer;" data-toggle="modal" data-target="#cadastroEmpresa" data-backdrop="true" ng-click="configurarCadastroEmpresa('cadastroEmpresa')"><i class="fa fa-plus"></i></span>
		                        <select id="empresa" 
		                                ng-model="dto.empresa" 
		                                ng-options="empresa.nome for empresa in listaEmpresas"
		                                class="form-control"
		                                required>
		                            <option value="" ng-disabled>Selecione a empresa</option>
		                        </select>
		                     </div>                          
                        </div>                      
                    </div>
                    <div class="form-group">                    
                        <label class="col-sm-2 control-label" for="nome"><strong>Nome<span class="required">*</span></strong></label>                        
                        <div class="col-sm-10">
                            <input id="nome" 
                                   type="text" 
                                   class="form-control" 
                                   placeholder="Digite o nome"
                                   ng-model="dto.nome"
                                   required>
                        </div>         
                    </div>
                    <div class="form-group center pull-right">
                        <div class="col-sm-12">                      
                            <button class="btn btn-primary" 
                                    type="submit"
                                    ng-disabled="!cadastroLocacaoForm.$valid"><i class="fa fa-plus-square"></i>&nbsp;Salvar</button>
                            <button class="btn btn-default" 
                                    type="button"
                                    ng-click="limpar()"><i class="fa fa-eraser"></i>&nbsp;Limpar</button>
                            <a href="#/ZGFzaGJvYXJk" class="btn btn-danger" type="button"><i class="fa fa-minus-square"></i>&nbsp;Cancelar</a>
                        </div>                       
                    </div>
                </form>            
            </div>
        </section>
    </div>
    
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading"> Acompanhamento das Locações Registradas </header>
            <div class="panel-body">
                <div class="col-sm-12">
                     <input id="filtroPesquisa" 
                           type="text" 
                           class="form-control" 
                           placeholder="Digite a locação que deseja filtrar"
                           ng-model="filtroPesquisa">
                </div>
                <br/><br/>
                <table class="table table-striped table-advance table-hover">
                    <tbody>
                       <tr>
                          <th><i class="icon_building_alt"></i> Nome</th>
                          <th><i class="fa fa-building-o"></i> Empresa</th>
                          <th><i class="icon_cogs"></i> Ações</th>
                       </tr>
                       <tr ng-repeat="l in listaLocacoes | filter: {nome: filtroPesquisa} | orderBy:'+nome'" title="{{l.endereco}}" ng-if="l.ativo">
                           <td>{{l.nome | uppercase}}</td>
                           <td>{{l.empresa.nome}}</td>
                           <td>
                            <div class="btn-group">
                                <button class="btn btn-danger" ng-click="deletar(l.id)" title="Deletar Empresa">
                                    <i class="icon_close_alt2"></i>
                                </button>
                            </div>
                           </td>
                       </tr>
                   </tbody>
               </table>
            </div>
        </section>
    </div>
</div>

<modal-cadastro-empresa id="idCadastroEmpresa" lista-empresas="listaEmpresas"></modal-cadastro-empresa>