<div id="{{id}}" class="modal fade" role="dialog">
  <div class="modal-dialog" style="left: 0;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><strong>{{tituloModal | uppercase}}</strong></h4>
      </div>
      <div class="modal-body" style="text-align: center;">        
        <h4><strong>{{conteudoTitulo}}</strong></h4>
        <h5>{{conteudoCorpo}}</h5>
        <br/>
        <h5><strong>Deseja continuar?</strong></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="funcCallback()"><i class="fa fa-check"></i>&nbsp;Continuar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Cancelar</button>
      </div>
    </div>

  </div>
</div>