<div id="{{id}}" class="modal fade" role="dialog">
  <div class="modal-dialog" style="left: 0;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><strong>{{tituloModal | uppercase}}</strong></h4>
      </div>
      <div class="modal-body">        
        <table class="table">
            <tbody>
                <tr ng-repeat="i in infoArray">
                    <td align="right"><strong>{{i.title}}</strong></td>
                    <td>{{i.data}}</td>
                </tr>
            </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Fechar</button>
      </div>
    </div>

  </div>
</div>