<!-- container section start -->
  <section id="container" class="">
      
      <header class="header white-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Alternar Navegação" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>

            <!--logo start-->
            <a href="#/ZGFzaGJvYXJk">
                <img src="img/logomarca.jpg" width="120px" height="60px" title="ACN Web Admin">
            </a>
            
            <div class="pull-right">
                <div style="text-align: right; padding-top: 10px;">
	                <strong>Usuário logado:</strong><br/>
	                {{usuarioLogado.nome}}
	            </div>
            </div>
            <!--logo end-->            
            
      </header>      
      <!--header end-->

      <aside>
	    <div id="sidebar"  class="nav-collapse ">
	        <ul class="sidebar-menu">
				<li class="active">
                    <a class="" href="" ng-click="openView('dashboard')">
                        <i class="icon_house_alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                
                <!-- Cadastros -->
				<li class="sub-menu">
				    <a href="javascript:;" class="">
				        <i class="icon_floppy"></i>
				        <span>Cadastros</span>
				        <span class="menu-arrow arrow_carrot-right"></span>
				    </a>
				    <ul class="sub">
				        <li><a class="" href="" ng-click="openView('cadastroFuncionario')"><i class="icon_id"></i><span>Funcionários</span></a></li>				        
				        <li><a class="" href="" ng-click="openView('cadastroEmpresa')"><i class="fa fa-building-o"></i><span>Empresas</span></a></li>
				        <li><a class="" href="" ng-click="openView('cadastroLocacao')"><i class="icon_building"></i><span>Locações</span></a></li>				        
				        <li><a class="" href="" ng-click="openView('cadastroCargo')"><i class="icon_clipboard"></i><span>Cargos</span></a></li>
<!-- 				        <li><a class="" href="" ng-click="openView('cadastroFinanceiro')"><i class="icon_currency"></i><span>Financeiro</span></a></li> -->
				        <li><a class="" href="" ng-click="openView('infoContabilidade')"><i class="fa fa-money"></i><span>Info. Contabilidade</span></a></li>
				        <li><a href="" ng-click="openView('outrasDespesas')"><span>Outras Despesas</span></a>
				    </ul>
				</li>
				
				<!-- Consultas -->
				<li class="sub-menu">
				    <a href="javascript:;" class="">
				        <i class="icon_search_alt"></i>
				        <span>Consultas</span>
				        <span class="menu-arrow arrow_carrot-right"></span>
				    </a>
				    <ul class="sub">
				        <li><a class="" href="" ng-click="openView('consultaFuncionario')"><i class="icon_id"></i><span>Funcionários</span></a></li>                          
<!-- 				        <li><a class="" href="" ng-click="openView('consultaFinanceiro')"><i class="icon_currency"></i><span>Financeiro</span></a></li> -->
				        <li><a class="" href="" ng-click="openView('consultaLocacao')"><i class="icon_building"></i><span>Locações</span></a></li>
				        <li><a class="" href="" ng-click="openView('consultaCargo')"><i class="icon_clipboard"></i><span>Cargos</span></a></li>
				    </ul>
				</li>
				
				<!-- Recursos humanos -->
				<li class="">
                    <a class="" href="" ng-click="openView('recursoHumano')">
                        <i class="icon_documents_alt"></i>
                        <span>Recursos Humanos</span>
                    </a>
                </li>
				
				<!-- Configurações -->
				<li class="sub-menu">
				    <a href="javascript:;" class="">
				        <i class="icon_tools"></i>
				        <span>Configurações</span>
				        <span class="menu-arrow arrow_carrot-right"></span>
				    </a>
				    <ul class="sub">
				        <li><a class="" href="" ng-click="openView('alteraSenha')"><i class="icon_key_alt"></i><span>Alterar Senha</span></a></li>
				        <li><a class="" href="" ng-click="openView('administracaoUsuario')"><i class="icon_group"></i><span>Adm. Usuários</span></a></li>
				    </ul>
				</li>
				
				<!-- Sair -->
				<li class="">
				    <a href="#" ng-click="logout()" title="Fazer logout no sistema">
			             <i class="fa fa-sign-out pull-right"></i><strong>SAIR</strong>
			        </a>
				</li>
	        </ul>
	    </div>
	</aside>
    <!--sidebar end-->
      
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper" ng-transclude>
          	<!-- ng-view -->
          </section>
      </section>
      <!--main content end-->
  </section>
  <!-- container section start -->
  
  <script>
      //knob
      $(function() {
        $(".knob").knob({
          'draw' : function () { 
            $(this.i).val(this.cv + '%')
          }
        })
      });

      //carousel
      $(document).ready(function() {
          $("#owl-slider").owlCarousel({
              navigation : true,
              slideSpeed : 300,
              paginationSpeed : 400,
              singleItem : true

          });
      });

      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });
	  
	  /* ---------- Map ---------- */
	$(function(){
	  $('#map').vectorMap({
	    map: 'world_mill_en',
	    series: {
	      regions: [{
	        values: gdpData,
	        scale: ['#000', '#000'],
	        normalizeFunction: 'polynomial'
	      }]
	    },
		backgroundColor: '#eef3f7',
	    onLabelShow: function(e, el, code){
	      el.html(el.html()+' (GDP - '+gdpData[code]+')');
	    }
	  });
	});

  </script>