/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/loading6.gif) center no-repeat;
}

.config-msg {
	position: fixed;
	right: 5px;
	top: 60px;
	width: auto;
	height: auto;
	z-index: 9999;
}