<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header"><i class="fa fa-money"></i> <strong>Cadastro de Informações Vindas da Contabilidade</strong></h3>
		<ol class="breadcrumb">
			<li><i class="fa fa-home"></i><a href="#/ZGFzaGJvYXJk">Home</a></li>
			<li><i class="icon_floppy"></i>Cadastros</li>
			<li><i class="fa fa-money"></i>Informação Vinda da Contabilidade</li>						  	
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-lg-10">
		<section class="panel">
			<header class="panel-heading"> Cadastro de Informação Vinda da Contabilidade </header>
			<div class="panel-body">

				<form name="cadastroInfoContabilidadeForm" role="form" class="form-validate form-horizontal" ng-submit="salvar()">
					<div class="form-group">
						<div class="col-sm-4">			
							<label class="control-label" for="funcionario"><strong>Funcionário<span class="required">*</span></strong></label>						
							<select id="funcitonario"
									ng-model="dto.funcionario"
									class="form-control"
									ng-options="funcionario.nome for funcionario in listaFuncionarios"
									required>
									<option value="" ng-disabled>Selecione o funcionário</option>
							</select>
						</div>
						<div class="col-sm-2">
							<label class="control-label" for="mes"><strong>Mês<span class="required">*</span></strong></label>
							<input id="mes" 
								   type="text" 
								   class="form-control" 
								   placeholder="Digite o mês"
								   ng-model="dto.mes"
								   required>
						</div>
						<div class="col-sm-2">
							<label class="control-label" for="salario"><strong>Salário<span class="required">*</span></strong></label>
							<input id="salario" 
								   type="text" 
								   class="form-control" 
								   placeholder="Digite o salário"
								   ng-model="dto.salario"
								   required>
						</div>
						<div class="col-sm-2">
							<label class="control-label" for="inss"><strong>INSS<span class="required">*</span></strong></label>
							<input id="inss" 
								   type="text" 
								   class="form-control" 
								   placeholder="Digite o INSS"
								   ng-model="dto.inss"
								   required>
						</div>
					</div>
					<div class="form-group">	
						<div class="col-sm-2">				
							<label class="control-label" for="fgts"><strong>FGTS<span class="required">*</span></strong></label>
							<input id="fgts" 
								   type="text" 
								   class="form-control" 
								   placeholder="Digite o FGTS"
								   ng-model="dto.fgts"
								   required>
						</div>
						<div class="col-sm-2">
							<label class="control-label" for="porcentagemFgts"><strong>50% FGTS<span class="required">*</span></strong></label>						
							<input id="porcentagemFgts" 
								   type="text" 
								   class="form-control" 
								   placeholder="Digite 50% do FGTS (mais outro valor opcional)"
								   ng-model="dto.porcentagemFgts"
								   required>
						</div>
						<div class="col-sm-2">
							<label class="control-label" for="decimoTerceiro"><strong>13º Salário<span class="required">*</span></strong></label>						
							<input id="decimoTerceiro" 
								   type="text" 
								   class="form-control" 
								   placeholder="Digite o 13º Salário"
								   ng-model="dto.decimoTerceiro"
								   required>
						</div>
						<div class="col-sm-2">
							<label class="control-label" for="ferias"><strong>Férias<span class="required">*</span></strong></label>
							<input id="ferias" 
								   type="text" 
								   class="form-control" 
								   placeholder="Digite o valor das Férias"
								   ng-model="dto.ferias"
								   required>
						</div>
						<div class="col-sm-2">
							<label class="control-label" for="tercoFerias"><strong>1/3 Férias<span class="required">*</span></strong></label>
							<input id="tercoFerias" 
								   type="text" 
								   class="form-control" 
								   placeholder="Digite 1/3 das Férias"
								   ng-model="dto.tercoFerias"
								   required>
						</div>	
					</div>
					<div class="form-group center pull-right">	                    
	                    <div class="col-sm-12">                      
                            <button class="btn btn-primary" 
                                    type="submit"
                                    ng-disabled="!cadastroInfoContabilidadeForm.$valid"><i class="fa fa-plus-square"></i>&nbsp;Salvar</button>
                            <button class="btn btn-default" 
                                    type="button"
                                    ng-click="limpar()"><i class="fa fa-eraser"></i>&nbsp;Limpar</button>
                            <a href="#/ZGFzaGJvYXJk" class="btn btn-danger" type="button"><i class="fa fa-minus-square"></i>&nbsp;Cancelar</a>
                        </div>                     
                    </div>
				</form>
			</div>
		</section>
	</div>
</div>
	
	
        
<modal-info id="modalId" titulo="tituloModal" array="infoArray"></modal-info>