<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">
			<i class="icon_id 2_alt"></i> <strong>Consulta de Funcionários</strong>
		</h3>
		<ol class="breadcrumb">
			<li><i class="fa fa-home"></i><a href="#/ZGFzaGJvYXJk">Home</a></li>
			<li><i class="icon_floppy"></i>Consultas</li>
			<li><i class="icon_id 2_alt"></i>Funcionários</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			<header class="panel-heading"> Consulta de Funcionários </header>
			<div class="panel-body">
			
				<div class="col-sm-12">
					<form name="consultaFuncionarioForm" role="form" class="form-validate form-horizontal" ng-submit="salvar()">
						<div class="form-group">
							<div class="col-sm-3">
								<label class="control-label" for="nome"><strong>Nome</strong></label>
								<input id="nome"
									   type="text" 
									   class="form-control" 
									   placeholder="Digite o nome do funcionário"
									   ng-model="dto.nome">
							</div>
							
							<div class="col-sm-3">
								<label class="control-label" for="rg"><strong>RG</strong></label>
								<input id="rg"
									   type="text" 
									   class="form-control" 
									   placeholder="Digite o RG"
									   ng-model="dto.rg">
							</div>
							
							<div class="col-sm-3">
								<label class="control-label" for="cpf"><strong>CPF</strong></label>
								<input id="cpf"
									   type="text" 
									   class="form-control" 
									   placeholder="Digite o CPF"
									   ng-model="dto.cpf">
							</div>
							
							<div class="col-sm-3">
								<label class="control-label" for="cargo"><strong>Cargo</strong></label>
								<input id="cargo"
									   type="text" 
									   class="form-control" 
									   placeholder="Digite o cargo"
									   ng-model="dto.cargo">
							</div>
						</div>
					</form>
				</div>
				<br/><br/><br/><br/>
				<div class="col-sm-12">
					<table class="table table-striped table-advance table-hover">
	                    <tbody>
	                       <tr>
	                          <th><i class="icon_profile"></i> Nome</th>
	                          <th><i class="icon_phone"></i> Telefone</th>
	                          <th>Email</th>
	                          <th>Endereço</th>
	                          <th>Cargo</th>
	                          <th>Salário</th>
	                          <th>Dt. Admissão</th>
	                          <th>Ações</th>
	                       </tr>
	                       <tr ng-repeat="funcionario in listaFuncionarios">
				               <td>{{funcionario.nome | uppercase}}</td>
				               <td>{{funcionario.telefone | telefone}}</td>
				               <td>{{funcionario.email}}</td>
				               <td>{{funcionario.endereco}}</td>
				               <td>{{funcionario.cargo.nome}}</td>
				               <td>{{funcionario.salario | currency : 'R$ '}}</td>
				               <td>{{funcionario.dataAdmissao | date}}</td>
				               <td>
				               		<div class="btn-group">
		                                <button class="btn btn-success" ng-click="alterarAtivacao(u)" title="Ativar funcionário" ng-if="!funcionario.ativo">
		                                    <i class="fa fa-check-square"></i>
		                                </button>
		                                <button id="btnInativar" class="btn btn-danger" ng-click="alterarAtivacao(u)" title="Desativar funcionário" ng-if="funcionario.ativo">
		                                    <i class="fa fa-minus-square"></i>
		                                </button>
		                                <button class="btn btn-primary" title="Ver detalhes do funcionario">
		                                    <i class="fa fa-eye"></i>
		                                </button>
		                                <button class="btn btn-default" title="Editar funcionario">
		                                    <i class="fa fa-pencil"></i>
		                                </button>
		                            </div>
				               </td>
	                       </tr>
	                   </tbody>
	               </table>				
				</div>				
			</div>
		</section>
	</div>
</div>