<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header"><i class="icon_clipboard"></i> <strong>Cadastro de Cargos e Funções</strong></h3>
		<ol class="breadcrumb">
			<li><i class="fa fa-home"></i><a href="#/ZGFzaGJvYXJk">Home</a></li>
			<li><i class="icon_floppy"></i>Cadastros</li>
			<li><i class="icon_clipboard"></i>Cargos e Funções</li>						  	
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<section class="panel">
			<header class="panel-heading"> Cadastro de Funcionários </header>
			<div class="panel-body">

				<form name="cadastroCargoForm" role="form" class="form-validate form-horizontal" ng-submit="salvar()">
					<div class="form-group">					
						<label class="col-sm-2 control-label" for="nome"><strong>Cargo<span class="required">*</span></strong></label>						
						<div class="col-sm-10">
							<input id="nome" 
								   type="text" 
								   class="form-control" 
								   placeholder="Digite o nome do cargo"
								   ng-model="dto.nome"
								   required>
						</div>						
					</div>
					<div class="form-group">					
						<label class="col-sm-2 control-label" for="salarioFixo"><strong>Salário R$</strong> <br/> (Fixo)</label>						
						<div class="col-sm-6">
							<input id="salarioFixo" 
								   type="text" 
								   class="form-control" 
								   placeholder="Digite o salário do cargo R$ 0,00"
								   ng-model="dto.salarioFixo"
								   mascara-moeda
								   ng-disabled="salarioVariavel">
						</div>
						<div class="col-sm-4">
							<label class="label_check" for="SalarioVariavel">
	                            <input name="SalarioVariavel" id="SalarioVariavel" value="1" type="checkbox" ng-model="salarioVariavel" ng-click="marcarSalarioVariavel" checked/><strong>Salário Variável</strong>
	                        </label>
	                    </div>				
					</div>
					<div class="form-group">					
						<label class="col-sm-2 control-label" for="descricao"><strong>Descrição</strong></label>						
						<div class="col-sm-10">
							<input id="descricao" 
								   type="text" 
								   class="form-control" 
								   placeholder="Digite uma breve descrição para o cargo"
								   ng-model="dto.descricao">
						</div>						
					</div>
					<div class="form-group center pull-right">	                    
	                    <div class="col-sm-12">                      
                            <button class="btn btn-primary" 
                                    type="submit"
                                    ng-disabled="!cadastroCargoForm.$valid"><i class="fa fa-plus-square"></i>&nbsp;Salvar</button>
                            <button class="btn btn-default" 
                                    type="button"
                                    ng-click="limpar()"><i class="fa fa-eraser"></i>&nbsp;Limpar</button>
                            <a href="#/ZGFzaGJvYXJk" class="btn btn-danger" type="button"><i class="fa fa-minus-square"></i>&nbsp;Cancelar</a>
                        </div>                     
                    </div>
				</form>
			</div>
		</section>
	</div>
	
	<div class="col-lg-6">
		<section class="panel">
			<header class="panel-heading"> Acompanhamento dos Cargos Registrados </header>
			<div class="panel-body">
			    <div class="col-sm-12">
			         <input id="filtroPesquisa" 
	                       type="text" 
	                       class="form-control" 
	                       placeholder="Digite o cargo que deseja filtrar"
	                       ng-model="filtroPesquisa">
			    </div>
			    <br/><br/>
				<table class="table table-striped table-advance table-hover">
                    <tbody>
                       <tr>
                          <th><i class="icon_clipboard"></i> Cargo</th>
                          <th><i class="icon_currency"></i> Salário Fixo</th>
                          <th><i class="icon_cogs"></i> Ações</th>
                       </tr>
                       <!-- <tr ng-repeat="c in listaCargos | filter: {nome: filtroPesquisa} | orderBy: '+nome'"
                           ng-if="c.ativo"
                           data-toggle="modal" data-target="#infoCargo" data-backdrop="static" data-keyboard="false"
                           ng-click="carregarInfoModal(c)" style="cursor: pointer;" title="Clique para ver as informações detalhadas">
			               <td>{{c.nome | uppercase}}</td>
			               <td>{{c.salarioFixo | currency}}</td>
			               <td>
			               	<div class="btn-group">
                                <button class="btn btn-danger" ng-click="deletar(c.id)" title="Deletar Cargo">
                                	<i class="icon_close_alt2"></i>
                                </button>
                            </div>
			               </td>
                       </tr> -->
                       <tr ng-repeat="c in listaCargos | filter: {nome: filtroPesquisa} | orderBy: '+nome'"
                           title="{{c.descricao}}"
                           ng-if="c.ativo">
                           <td>{{c.nome | uppercase}}</td>
                           <td>{{c.salarioFixo | currency}}</td>
                           <td>
                            <div class="btn-group">
                                <button class="btn btn-danger" ng-click="deletar(c.id)" title="Deletar Cargo">
                                    <i class="icon_close_alt2"></i>
                                </button>
                            </div>
                           </td>
                       </tr>
                   </tbody>
               </table>
			</div>
		</section>
	</div>  
</div>
        
<modal-info id="modalId" titulo="tituloModal" array="infoArray"></modal-info>