<div id="{{id}}" class="modal fade" role="dialog">
  <div class="modal-dialog" style="left: 0;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><strong>Cadastrar Cargo / Função</strong></h4>
      </div>
      <div class="modal-body">        
        
        <form name="cadastroCargoForm" role="form" class="form-validate form-horizontal">
            <div class="form-group">                    
                <label class="col-sm-2 control-label" for="nome"><strong>Cargo<span class="required">*</span></strong></label>                      
                <div class="col-sm-10">
                    <input id="nome" 
                           type="text" 
                           class="form-control" 
                           placeholder="Digite o nome do cargo"
                           ng-model="dto.nome"
                           required>
                </div>                      
            </div>
            <div class="form-group">                    
                <label class="col-sm-2 control-label" for="salarioFixo"><strong>Salário R$</strong> <br/> (Fixo)</label>                        
                <div class="col-sm-6">
                    <input id="salarioFixo" 
                           type="text" 
                           class="form-control" 
                           placeholder="Digite o salário do cargo R$ 0,00"
                           ng-model="dto.salarioFixo"
                           mascara-moeda
                           ng-disabled="salarioVariavel">
                </div>
                <div class="col-sm-4">
                    <label class="label_check" for="SalarioVariavel">
                        <input name="SalarioVariavel" id="SalarioVariavel" value="1" type="checkbox" ng-model="salarioVariavel" ng-click="marcarSalarioVariavel" checked/><strong>Salário Variável</strong>
                    </label>
                </div>              
            </div>
            <div class="form-group">                    
                <label class="col-sm-2 control-label" for="descricao"><strong>Descrição</strong></label>                        
                <div class="col-sm-10">
                    <input id="descricao" 
                           type="text" 
                           class="form-control" 
                           placeholder="Digite uma breve descrição para o cargo"
                           ng-model="dto.descricao">
                </div>                      
            </div>
        </form>
        
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" 
                type="button"
                ng-disabled="!cadastroCargoForm.$valid"
                ng-click="salvar()"
                data-dismiss="modal"><i class="fa fa-plus-square"></i>&nbsp;Salvar</button>
       <button class="btn btn-default" 
               type="button"
               ng-click="limpar()"><i class="fa fa-eraser"></i>&nbsp;Limpar</button>       
        <button type="button" 
                class="btn btn-default" 
                ng-click="limpar()" 
                data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Fechar</button>
      </div>
    </div>

  </div>
</div>